@import 'tailwindcss';

@import 'tw-animate-css';

/**
 * Colors configuration
 */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-*: initial;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);

  --color-link: var(--link);
  --color-link-visited: var(--link-visited);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-surface-border: var(--surface-border);
  --color-surface-muted: var(--surface-muted);
  --color-surface-muted-foreground: var(--surface-muted-foreground);

  --color-white: #fff;
  --color-black: #000;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.041 264.695);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.041 257.417);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.041 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.041 264.695);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.04 265.755);
  --success: oklch(0.979 0.021 166.113);
  --success-foreground: oklch(0.262 0.051 172.552);
  --warning: oklch(0.987 0.022 95.277);
  --warning-foreground: oklch(0.279 0.077 45.635);
  --error: oklch(0.971 0.013 17.38);
  --error-foreground: oklch(0.258 0.092 26.042);
  --primary: oklch(0.424 0.181 265.638);
  --primary-hover: oklch(0.379 0.138 265.522);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-hover: oklch(0.869 0.02 252.894);
  --secondary-foreground: oklch(0.208 0.04 265.755);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-hover: oklch(0.505 0.213 27.518);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --link: oklch(0.488 0.217 264.376);
  --link-visited: oklch(0.424 0.181 265.638);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.714 0.143 254.624);
}

.dark,
html[data-theme='dark'] {
  --background: oklch(0.129 0.041 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.037 260.031);
  --muted-foreground: oklch(0.711 0.035 256.788);
  --card: oklch(0.129 0.041 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.041 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --accent: oklch(0.279 0.037 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --success: oklch(0.262 0.051 172.552);
  --success-foreground: oklch(0.979 0.021 166.113);
  --warning: oklch(0.279 0.077 45.635);
  --warning-foreground: oklch(0.987 0.022 95.277);
  --error: oklch(0.258 0.092 26.042);
  --error-foreground: oklch(0.971 0.013 17.38);
  --primary: oklch(0.282 0.087 267.935);
  --primary-hover: oklch(0.424 0.181 265.638);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.279 0.037 260.031);
  --secondary-hover: oklch(0.446 0.037 257.281);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-hover: oklch(0.505 0.213 27.518);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --link: oklch(0.546 0.215 262.881);
  --link-visited: oklch(0.488 0.217 264.376);
  --border: oklch(0.279 0.037 260.031);
  --input: oklch(0.279 0.037 260.031);
  --ring: oklch(0.623 0.188 259.815);
}

/**
 * Utility classes for surfaces
 */

@utility surface-default {
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --surface-border: color-mix(in oklab, var(--foreground) 40%, transparent);
  --surface-muted: color-mix(in oklab, var(--background) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--foreground) 70%,
    var(--background)
  );
}

@utility surface-success {
  --surface: var(--success);
  --surface-foreground: var(--success-foreground);
  --surface-border: color-mix(
    in oklab,
    var(--success-foreground) 40%,
    transparent
  );
  --surface-muted: color-mix(in oklab, var(--success) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--success-foreground) 70%,
    var(--success)
  );
}

@utility surface-warning {
  --surface: var(--warning);
  --surface-foreground: var(--warning-foreground);
  --surface-border: color-mix(
    in oklab,
    var(--warning-foreground) 40%,
    transparent
  );
  --surface-muted: color-mix(in oklab, var(--warning) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--warning-foreground) 70%,
    var(--warning)
  );
}

@utility surface-error {
  --surface: var(--error);
  --surface-foreground: var(--error-foreground);
  --surface-border: color-mix(
    in oklab,
    var(--error-foreground) 40%,
    transparent
  );
  --surface-muted: color-mix(in oklab, var(--error) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--error-foreground) 70%,
    var(--error)
  );
}

/**
 * Typography
 */

@theme {
  --font-body:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  --font-mono: Menlo, Consolas, 'Courier New', monospace;
}

@layer base {
  h1 {
    @apply text-3xl font-semibold leading-none tracking-tight;
  }

  h2 {
    @apply text-2xl font-semibold leading-7 tracking-tight;
  }

  h3 {
    @apply text-xl font-semibold leading-6 tracking-tight;
  }

  p {
    @apply leading-6;
  }
}

/**
 * Utility classes for typography
 */

@utility text-style-lead {
  @apply text-muted-foreground text-xl font-medium leading-6;
}

@utility text-style-large {
  @apply text-lg font-semibold leading-6;
}

@utility text-style-small {
  @apply text-sm font-medium leading-none;
}

@utility text-style-muted {
  @apply text-muted-foreground text-sm leading-5;
}

@utility text-style-prose {
  @apply text-base leading-6;

  & a {
    @apply text-link font-medium;

    &:hover {
      @apply underline;
    }

    &:visited {
      @apply text-link-visited;
    }
  }
}

/**
 * Base styles for border and background/font colors
 */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-body text-foreground antialiased;
    @apply surface-default;
  }

  html,
  body,
  #root {
    height: 100vh;
  }
}

/* GLOBAL_STYLES */
