# Prevents publish from any branch other than main
publish-branch=main
# Ensures we use locally linked packages when available
link-workspace-packages=true
# Defaults to saving as workspace:*
save-workspace-protocol=rolling
