ALLOWED_ORIGINS=http://localhost:6030,http://localhost:6031
APP_ENVIRONMENT=dev
BETTER_AUTH_SECRET=pjawrpigjpiawpfp-914-1j4ig14o-tkp13lrfawg
BETTER_AUTH_URL=http://localhost:6001
DATABASE_URL=postgres://postgres:todo-with-better-auth-password@localhost:6432/todo-with-better-auth?schema=public
REDIS_KEY_PREFIX=
REDIS_URL=redis://:todo-with-better-auth-password@localhost:6379
SENTRY_DSN=
