ALLOWED_ORIGINS=http://localhost:6030,http://localhost:6031
APP_ENVIRONMENT=dev
BETTER_AUTH_SECRET=dev-secret-change-me-in-production
BETTER_AUTH_URL=http://localhost:6001
DATABASE_URL=postgres://postgres:todo-with-better-auth-password@localhost:6432/todo-with-better-auth?schema=public
ENABLE_EMBEDDED_WORKERS=false
REDIS_KEY_PREFIX=
REDIS_URL=redis://:todo-with-better-auth-password@localhost:6379
SENTRY_DSN=
