@import '@fontsource-variable/geist';
@import '@fontsource-variable/geist-mono';

@layer base {
  /* Used https://screenspan.net/fallback to find best fallback settings */
  @font-face {
    font-family: 'Arial Fallback';
    src: local('Arial');
    size-adjust: 102%;
  }

  @font-face {
    font-family: 'Adjusted Courier New Fallback';
    src: local(Courier New);
    size-adjust: 100%;
    ascent-override: 91%;
    descent-override: 40%;
    line-gap-override: normal;
  }
}

@theme {
  --font-body: 'Geist Variable', 'Arial Fallback', 'Trebuchet MS', sans-serif;
  --font-mono:
    'Geist Mono Variable', 'Adjusted Courier New Fallback', 'Courier New',
    'monospace';
}
