@layer base {
  h1 {
    @apply text-3xl leading-none font-semibold tracking-tight;
  }

  h2 {
    @apply text-2xl leading-7 font-semibold tracking-tight;
  }

  h3 {
    @apply text-xl leading-6 font-semibold tracking-tight;
  }

  p {
    @apply leading-6;
  }
}

@utility text-style-lead {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-6);
  color: var(--muted-foreground);
}

@utility text-style-large {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-6);
}

@utility text-style-small {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-none);
}

@utility text-style-muted {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-5);
  color: var(--muted-foreground);
}

@utility text-style-prose {
  font-size: var(--font-size-base);
  line-height: var(--line-height-6);
  & a {
    color: var(--color-link);
    font-weight: var(--font-weight-medium);
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--color-link-visited);
    }
  }
}
