/**
 * UI components theme configuration
 *
 * This file is used to configure the theme for packages that use
 * ui-components with Tailwind CSS, such as plugins.
 */

@import 'tw-animate-css';

/**
 * Colors configuration
 */

@custom-variant dark (.dark, .dark *, &:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-*: initial;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-hover: var(--destructive-hover);

  --color-link: var(--link);
  --color-link-visited: var(--link-visited);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-surface-border: var(--surface-border);
  --color-surface-muted: var(--surface-muted);
  --color-surface-muted-foreground: var(--surface-muted-foreground);

  --color-white: #fff;
  --color-black: #000;
}

@utility surface-default {
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --surface-border: color-mix(in oklab, var(--foreground) 40%, transparent);
  --surface-muted: color-mix(in oklab, var(--background) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--foreground) 70%,
    var(--background)
  );
}

@utility surface-success {
  --surface: var(--success);
  --surface-foreground: var(--success-foreground);
  --surface-border: color-mix(
    in oklab,
    var(--success-foreground) 40%,
    transparent
  );
  --surface-muted: color-mix(in oklab, var(--success) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--success-foreground) 70%,
    var(--success)
  );
}

@utility surface-warning {
  --surface: var(--warning);
  --surface-foreground: var(--warning-foreground);
  --surface-border: color-mix(
    in oklab,
    var(--warning-foreground) 40%,
    transparent
  );
  --surface-muted: color-mix(in oklab, var(--warning) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--warning-foreground) 70%,
    var(--warning)
  );
}

@utility surface-error {
  --surface: var(--error);
  --surface-foreground: var(--error-foreground);
  --surface-border: color-mix(
    in oklab,
    var(--error-foreground) 40%,
    transparent
  );
  --surface-muted: color-mix(in oklab, var(--error) 10%, transparent);
  --surface-muted-foreground: color-mix(
    in oklab,
    var(--error-foreground) 70%,
    var(--error)
  );
}

/**
 * Font configuration
 */

@theme {
  --font-body: 'Geist Variable', 'Arial Fallback', 'Trebuchet MS', sans-serif;
  --font-mono:
    'Geist Mono Variable', 'Adjusted Courier New Fallback', 'Courier New',
    'monospace';
}

/**
 * Utility classes for typography
 */

@utility text-style-lead {
  @apply text-xl leading-6 font-medium text-muted-foreground;
}

@utility text-style-large {
  @apply text-lg leading-6 font-semibold;
}

@utility text-style-small {
  @apply text-sm leading-none font-medium;
}

@utility text-style-muted {
  @apply text-sm leading-5 text-muted-foreground;
}

@utility text-style-prose {
  @apply text-base leading-6;

  & a {
    @apply font-medium text-link;

    &:hover {
      @apply underline;
    }

    &:visited {
      @apply text-link-visited;
    }
  }
}
