ADDITIONAL_WEB_ORIGINS=
API_URL=http://localhost:5001
APP_ENVIRONMENT=dev
APP_SECRET=dev-only-app-secret-replace-in-production
APP_SECRET_PREVIOUS=
DATABASE_URL=postgres://postgres:blog-with-auth-password@localhost:5432/blog-with-auth?schema=public
EMAIL_DEFAULT_FROM=noreply@example.com
ENABLE_EMBEDDED_WORKERS=false
POSTMARK_SERVER_TOKEN=your-postmark-server-token
REDIS_KEY_PREFIX=
REDIS_URL=redis://:blog-with-auth-password@localhost:5379
SENTRY_DSN=
WEB_URL_ADMIN=http://localhost:5030
WEB_URL_APP=http://localhost:5031
