@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-in-and-grow {
  opacity: 0.5;
  transform: scale(0.8);
  animation: fadeAndGrow 400ms cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

@keyframes fadeAndGrow {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

html,
body,
#root {
  height: 100vh;
}

:root {
  --background: 0 0% 100%;
  --foreground: 229 84% 5%;
  --muted: 220 14% 96%;
  --muted-foreground: 220 9% 46%;
  --card: 0 0% 100%;
  --card-foreground: 229 84% 5%;
  --popover: 0 0% 100%;
  --popover-foreground: 229 84% 5%;
  --accent: 210 40% 96%;
  --accent-foreground: 215 25% 27%;
  --success: 152 81% 96%;
  --success-foreground: 163 94% 24%;
  --warning: 48 100% 96%;
  --warning-foreground: 32 95% 44%;
  --error: 0 86% 97%;
  --error-foreground: 0 74% 42%;
  --primary: 224 76% 48%;
  --primary-hover: 224 64% 33%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-hover: 213 27% 84%;
  --secondary-foreground: 215 25% 27%;
  --destructive: 0 84% 60%;
  --destructive-hover: 0 74% 42%;
  --destructive-foreground: 210 40% 98%;
  --link: 224 76% 48%;
  --link-visited: 226 71% 40%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 224 76% 48% / 50%;
}

html[data-theme='dark'] {
  --background: 229 84% 5%;
  --foreground: 210 40% 98%;
  --muted: 222 47% 11%;
  --muted-foreground: 215 20% 65%;
  --card: 229 84% 5%;
  --card-foreground: 210 40% 98%;
  --popover: 229 84% 5%;
  --popover-foreground: 210 40% 98%;
  --accent: 217 33% 17%;
  --accent-foreground: 210 40% 96%;
  --success: 166 91% 9%;
  --success-foreground: 161 94% 30%;
  --warning: 21 92% 14%;
  --warning-foreground: 26 90% 37%;
  --error: 0 75% 15%;
  --error-foreground: 0 72% 51%;
  --primary: 221 83% 53%;
  --primary-hover: 226 71% 40%;
  --primary-foreground: 210 40% 98%;
  --secondary: 217 33% 17%;
  --secondary-hover: 215 19% 35%;
  --secondary-foreground: 210 40% 96%;
  --destructive: 0 63% 31%;
  --destructive-hover: 0 74% 42%;
  --destructive-foreground: 210 40% 98%;
  --link: 221 83% 53%;
  --link-visited: 224 76% 48%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --ring: 221 83% 53% / 50%;
}

@layer utilities {
  .debug {
    @apply outline outline-2 -outline-offset-1 outline-red-500/60;
  }
}
