@import 'tailwindcss' source('../src');

@import '@halfdomelabs/ui-components/base-styles.css';
@import '@halfdomelabs/ui-components/theme.css';

@layer base {
  html,
  body,
  #root {
    height: 100vh;
  }
}

/*
  Specify theme colors
*/

:root {
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.372 0.039 257.287);
  --background: oklch(1 0 0);
  --border: oklch(0.929 0.013 255.508);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.041 264.695);
  --destructive: oklch(0.637 0.208 25.331);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --destructive-hover: oklch(0.505 0.19 27.518);
  --error: oklch(0.971 0.013 17.38);
  --error-foreground: oklch(0.505 0.19 27.518);
  --foreground: oklch(0.129 0.041 264.695);
  --input: oklch(0.929 0.013 255.508);
  --link: oklch(0.488 0.217 264.376);
  --link-visited: oklch(0.424 0.181 265.638);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.041 257.417);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.041 264.695);
  --primary: oklch(0.488 0.217 264.376);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --primary-hover: oklch(0.379 0.138 265.522);
  --ring: oklch(0.488 0.217 264.376 / 50%);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.372 0.039 257.287);
  --secondary-hover: oklch(0.869 0.02 252.894);
  --success: oklch(0.979 0.021 166.113);
  --success-foreground: oklch(0.508 0.105 165.612);
  --warning: oklch(0.987 0.021 95.277);
  --warning-foreground: oklch(0.666 0.157 58.318);
}

html[data-theme='dark'] {
  --accent: oklch(0.279 0.037 260.031);
  --accent-foreground: oklch(0.968 0.007 247.896);
  --background: oklch(0.129 0.041 264.695);
  --border: oklch(0.279 0.037 260.031);
  --card: oklch(0.129 0.041 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.133 25.723);
  --destructive-foreground: oklch(0.984 0.003 247.858);
  --destructive-hover: oklch(0.505 0.19 27.518);
  --error: oklch(0.258 0.089 26.042);
  --error-foreground: oklch(0.577 0.215 27.325);
  --foreground: oklch(0.984 0.003 247.858);
  --input: oklch(0.279 0.037 260.031);
  --link: oklch(0.546 0.215 262.881);
  --link-visited: oklch(0.488 0.217 264.376);
  --muted: oklch(0.208 0.04 265.755);
  --muted-foreground: oklch(0.711 0.035 256.788);
  --popover: oklch(0.129 0.041 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.546 0.215 262.881);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --primary-hover: oklch(0.424 0.181 265.638);
  --ring: oklch(0.546 0.215 262.881 / 50%);
  --secondary: oklch(0.279 0.037 260.031);
  --secondary-foreground: oklch(0.968 0.007 247.896);
  --secondary-hover: oklch(0.446 0.037 257.281);
  --success: oklch(0.262 0.049 172.552);
  --success-foreground: oklch(0.596 0.127 163.225);
  --warning: oklch(0.279 0.074 45.635);
  --warning-foreground: oklch(0.555 0.146 48.998);
}
