name: Test

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
      - name: Derive appropriate SHAs for base for `turbo --affected` commands
        uses: nrwl/nx-set-shas@v4.1.2
      - name: Set environment variable for Turborepo
        run: echo "TURBO_SCM_BASE=$NX_BASE" >> $GITHUB_ENV
      - name: Cache turbo build setup
        uses: rharkor/caching-for-turbo@7220c7f366bf362025ec742bd5bcf2bac6e1770e
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.0.0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile

      - run: pnpm build:affected
      - run: pnpm test:affected
