name: Test

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v3.0.2
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.16.0
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - run: pnpm build:affected
      - run: pnpm test
