name: Test E2E

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test E2E
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.51.0-noble
      options: --user 1001

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4.1.2
      - name: Set environment variable for Turborepo
        run: echo "TURBO_SCM_BASE=$NX_BASE" >> $GITHUB_ENV
      - name: Cache turbo build setup
        uses: rharkor/caching-for-turbo@7220c7f366bf362025ec742bd5bcf2bac6e1770e
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.0.0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --filter @halfdomelabs/project-builder-test... --filter @halfdomelabs/project-builder-cli... --filter @halfdomelabs/root

      # Install Playwright Browsers
      # - name: Get Playwright version
      #   id: get-playwright-version
      #   run: echo "PLAYWRIGHT_VERSION=$(jq '.devDependencies["@playwright/test"]' package.json -r)" >> $GITHUB_OUTPUT
      #   working-directory: packages/project-builder-cli
      # - name: Cache Playwright Browsers
      #   id: cache-playwright-browsers
      #   uses: actions/cache@v4
      #   with:
      #     path: ~/.cache/ms-playwright
      #     key: playwright-browsers-${{ runner.os }}-${{ steps.get-playwright-version.outputs.PLAYWRIGHT_VERSION }}
      # - name: Install Playwright
      #   run: pnpm exec playwright install
      #   working-directory: packages/project-builder-cli
      - name: Run E2E Tests
        run: pnpm test:e2e:affected
