name: Test

on:
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: packages/backend

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
